<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Recuperar clave</title>

<head th:replace="fragments/head :: head(title='Ecommerce Sports')"></head>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
 
  <link rel="stylesheet" href="css/recuperarclavestyle.css">

</head>
<body>


<!--Div for Background-->
<div class="bg text-center">
	<div  class="alert" th:classappend="'alert-' + (${clase != null} ? ${clase} +' alert-dismissible' : info + ' alert-dismissible')" aria-hidden="true" th:if="${mensaje != null}">
					       <button type="button" class="close " aria-hidden="true" data-dismiss="alert">&times;</button>
					        <span th:text="${mensaje}"></span>
 </div>


    <form class="" th:action="@{/sendMail}" method="post">
    <div class="centered">
        <p class="firstLine"> RECUPERAR CLAVE </p>
        <p class="secondLine">Ingrese su correo registrado en el sitio</p>
        <p> <input class="InputStyle" placeholder="Mail &#xf0e0; " style="font-family:Arial, FontAwesome" type="text" name="correo"> </p>
    </div>
    <!--Div for bottom Icons-->
    </form>
</div>



<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


</body>


</html>